body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    background: lightgray;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:20px;
    margin: 0 auto;
}

input {
    margin: 10px;
}

.signup_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
}

.signup_btn a {
    font-size: 40px;
}